{% extends 'base.html' %}
{% load static %}

{% block contents %}
<main role="main">

	<section class="jumbotron text-center" style="height: 300px;">
		<div class="container">
		<h1 class="jumbotron-heading">ビアレポへようこそ！！</h1>
		<p class="lead text-white">あなた好みのビールに出会える。うまいビールをシェアしよう！！</p>
		</div>
	</section>

	<div class="sel_box">
		<p>お好みのビールの特徴を選択してみよう！</p>
		<div class="btn-group" role="group" aria-label="Basic example"></div>
			<button type="button" class="btn btn-primary my-2">キレ</a>
			<button type="button" class="btn btn-info my-2">酸味</a>
			<button type="button" class="btn btn-primary my-2">苦味</a>
			<button type="button" class="btn btn-info my-2">甘味</a>
			<button type="button" class="btn btn-primary my-2">コク</a>
		</div>	
	</div>

	<div class="album py-5 bg-light">
		<div class="container">
		<div class="row">
			{% for beer in beer_list %}
			<div class="col-md-4" style="max-width: 25%; min-width: 250px;">
				<div class="card mb-4 shadow-sm">
					{% if not beer.review_set.all %}
					<div style="height: 225px">
						<img class="bd-placeholder-img card-img-top" style="width:100%; display: inline-block;" src="../static/img/beer_sample2.jpg" >
					</div>
					<div class="card-body">
						<p><strong>{{beer.beer_name|truncatechars:50}}</strong></p>
						<p class="review-content card-text">レビューがありません。</p>
					{% else %}
					{% for review in review_list %}
					{% if review.beer == beer %}
					<div style="height: 225px">
						<img class="bd-placeholder-img card-img-top" style="width:100%; max-height: 225px; display: inline-block;" src="{{ review.image1.url }}" >
					</div>
					<div class="card-body">
						<p><strong>{{beer.beer_name|truncatechars:50}}</strong></p>
						<div class="rate-box">
							<p class="title-box">総合評価：{{ beer.review_set.beer_score }}</p>
							<div class="star-box">
								<div class="star-ratings-sprite">
									<span style="width:{{ beer.review_set.rate }}%" class="star-ratings-sprite-rating"></span>
								</div>
							</div>
						</div>
						<div style="width:100%; float: left; font-size: 15px;">みんなのレビュー
						</div>
						<div class="review-box" >
							<div style="padding-bottom:5px; border-bottom: solid rgb(210, 228, 252);">
								<p style="float: left; margin-right: 10px;">{{ review.user}}</p>
								{% if review.user.image %}
								<img src={{review.user.image.url}} width="25" height="25" style="border-radius: 20px;">
								{% endif %}
							</div>
							<p class="review-content card-text">{{review.content|truncatechars:38}}</p>
						</div>
					{% endif %}
					{% endfor %}
					{% endif %}
						<div class="button-box">
							<div class="btn-group">
							<button type="button" class="btn btn-sm btn-outline-secondary">お気に入り</button>
							</div>
							<small class="text-muted">タグ</small>
						</div>
					</div>
				</div>
			</div>
			{% empty %}
				<p style="text-align: center;">登録されているビールはありません。</p>
			{% endfor %}
		</div>
		</div>
	</div>

</main>
<script>
	new Vue ({
		el: "cul_rate",
		data: {
			rate: ''
		}
	})
</script>
{% endblock%}