{% extends 'base.html' %}
{% load static %}

{% block contents %}
<main role="main">

	<section class="jumbotron text-center" style="height: 300px;">
		<div class="container">
		<h1 class="jumbotron-heading">ビアレポへようこそ！！</h1>
		<p class="lead text-white">あなた好みのビールに出会える。うまいビールをシェアしよう！！</p>
		</div>
	</section>

	<div class="sel_box">
		<p>お好みのビールの特徴を選択してみよう！</p>
		<div class="btn-group" role="group" aria-label="Basic example"></div>
			<button type="button" class="btn btn-primary my-2">キレ</a>
			<button type="button" class="btn btn-info my-2">酸味</a>
			<button type="button" class="btn btn-primary my-2">苦味</a>
			<button type="button" class="btn btn-info my-2">甘味</a>
			<button type="button" class="btn btn-primary my-2">コク</a>
		</div>	
	</div>

	<div class="album py-5 bg-light">
		<div class="container">

		<div class="row">
			<div class="col-md-4" style="max-width: 25%;">
				<div class="card mb-4 shadow-sm">
					<img class="bd-placeholder-img card-img-top" style="width:100%; height:225; display: inline;" src="../static/img/beer_sample2.jpg" >
					<div class="card-body">
					<p class="review-content card-text">{{'ああああああああああああああああああああああああああああああああああああああああああ'|truncatechars:38}}</p>
					<div class="d-flex justify-content-between align-items-center">
						<div class="btn-group">
						<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
						<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
						</div>
						<small class="text-muted">タグを追加するキレ</small>
					</div>
					</div>
				</div>
			</div>
			<div class="col-md-4" style="max-width: 25%;">
			<div class="card mb-4 shadow-sm">
				<img class="bd-placeholder-img card-img-top" style="width:100%; height:225; display: inline;" src="../static/img/beer_sample2.jpg" >
				<div class="card-body">
				<p class="review-content card-text">{{'This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.'|truncatechars:38}}</p>
				<div class="d-flex justify-content-between align-items-center">
					<div class="btn-group">
					<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
					<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
					</div>
					<small class="text-muted">9 mins</small>
				</div>
				</div>
			</div>
			</div>
			<div class="col-md-4" style="max-width: 25%;">
			<div class="card mb-4 shadow-sm">
				<img class="bd-placeholder-img card-img-top" style="width:100%; height:225; display: inline;" src="../static/img/beer_sample2.jpg" >
				<div class="card-body">
				<p class="review-content card-text">{{'This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.'|truncatechars:38}}</p>
				<div class="d-flex justify-content-between align-items-center">
					<div class="btn-group">
					<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
					<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
					</div>
					<small class="text-muted">9 mins</small>
				</div>
				</div>
			</div>
			</div>

			<div class="col-md-4" style="max-width: 25%;">
			<div class="card mb-4 shadow-sm">
				<img class="bd-placeholder-img card-img-top" style="width:100%; height:225; display: inline;" src="../static/img/beer_sample2.jpg" >
				<div class="card-body">
				<p class="review-content card-text">{{'This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.'|truncatechars:38}}</p>
				<div class="d-flex justify-content-between align-items-center">
					<div class="btn-group">
					<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
					<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
					</div>
					<small class="text-muted">9 mins</small>
				</div>
				</div>
			</div>
			</div>
			<div class="col-md-4" style="max-width: 25%;">
			<div class="card mb-4 shadow-sm">
				<img class="bd-placeholder-img card-img-top" style="width:100%; height:225; display: inline;" src="../static/img/beer_sample2.jpg" >
				<div class="card-body">
				<p class="review-content card-text">{{'This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.'|truncatechars:38}}</p>
				<div class="d-flex justify-content-between align-items-center">
					<div class="btn-group">
					<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
					<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
					</div>
					<small class="text-muted">9 mins</small>
				</div>
				</div>
			</div>
			</div>
			<div class="col-md-4" style="max-width: 25%;">
			<div class="card mb-4 shadow-sm">
				<img class="bd-placeholder-img card-img-top" style="width:100%; height:225; display: inline;" src="../static/img/beer_sample2.jpg" >
				<div class="card-body">
				<p class="review-content card-text">{{'This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.'|truncatechars:38}}</p>
				<div class="d-flex justify-content-between align-items-center">
					<div class="btn-group">
					<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
					<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
					</div>
					<small class="text-muted">9 mins</small>
				</div>
				</div>
			</div>
			</div>

			<div class="col-md-4" style="max-width: 25%;">
			<div class="card mb-4 shadow-sm">
				<img class="bd-placeholder-img card-img-top" style="width:100%; height:225; display: inline;" src="../static/img/beer_sample2.jpg" >
				<div class="card-body">
				<p class="review-content card-text">{{'This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.'|truncatechars:38}}</p>
				<div class="d-flex justify-content-between align-items-center">
					<div class="btn-group">
					<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
					<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
					</div>
					<small class="text-muted">9 mins</small>
				</div>
				</div>
			</div>
			</div>
			<div class="col-md-4" style="max-width: 25%;">
			<div class="card mb-4 shadow-sm">
				<img class="bd-placeholder-img card-img-top" style="width:100%; height:225; display: inline;" src="../static/img/beer_sample2.jpg" >
				<div class="card-body">
				<p class="review-content card-text">{{'This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.'|truncatechars:38}}</p>
				<div class="d-flex justify-content-between align-items-center">
					<div class="btn-group">
					<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
					<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
					</div>
					<small class="text-muted">9 mins</small>
				</div>
				</div>
			</div>
			</div>
		</div>
		</div>
	</div>

</main>
{% endblock%}